body {
  background-color: rgb(230, 191, 173);
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  h1 {
      text-align: center;
  }

  h2 {
      text-align: center;
  }

  h3 {
      text-align: center;
  }

  img {
    margin: 0 auto;
  }

  .button.devour{margin: 0 auto};
  .button.delete-burger{margin: 0 auto};

  div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align : center;
    -moz-box-align    : center;
    -ms-flex-align    : center;
    -webkit-align-items : center;
    align-items : center ;
    justify-content : center;
    -webkit-justify-content : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
  }